<% include ../partials/header %> 


<div class="container">
    <header class="jumbotron"> 
        <div class="container">
                <h3>Welcome to E-Libray! <%= currentUser.username%></h3>
                <p>Books Index!</p>
                <%if(currentUser.isAdmin){%>
                <p>
                <a class="btn btn-lg btn-primary" href="/Books/new">Add New Book</a>
                </p>
                <%} %>
        </div>
     </header>
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% Books.forEach(function(Books){ %>
            <div class="text-center col-md-3 col-sm-6">
                <div class="card">
                   <img class="img-fluid"  src="<%= Books.image %>">
                   <hr>
                   <div class="caption">
                       <h5><%= Books.name %></h5>
                   </div>
                   <p>
                       <a href="/Books/<%= Books._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
    
<% include ../partials/footer %>



 