  <div id="foot">
    <p> TradeMark  <em><strong>eLibrary</strong></em> 2019</p>
    
    
    
  </div>
  <!-- jQuery CDN-->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <!--Momentjs CDN -->
  <script src="https://momentjs.com/downloads/moment.min.js"></script>
  <!-- Bootstrapjs CDN-->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
  
  </html>